/*
To do list :
1. to background color to the header
2. h1 in center of header
3. make the image smaller
4. change the style of paragraph 
*/

header
{
    background-color: rgb(171, 230, 34);
}

h1 
{
    text-align: center;
}


img
{
    width: 25%;
    margin: 20px;
 
}

#os 
{
    width: 100%;
}

#hel
{
    color: rgb(9, 211, 26);
}
#ho
{
    color: rgb(189, 17, 4);
}